@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://db.onlinewebfonts.com/c/0be7748549934c0e481bdb7b8ba5270f?family=Gotham+Pro+Black');

html {
    box-sizing: border-box;
}

body{
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

blockquote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    
    max-width: 939px;
    margin: 0 auto;
    border: none;
}

blockquote .title {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 20px;
}

blockquote .title:before {
    content: ',,';
    font-size: 250px;
    line-height: 0;
    line-height: .6;
    transform: translateY(-50%);
    margin-right: 14px;
    color: #ffe100;
    font-family: serif;
}

blockquote footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

blockquote footer ul {
    font-size: 20px;
    position: relative;
    padding-left: 20px;
    max-width: 420px;
}

blockquote footer ul:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: #ffe100;
}

blockquote ul li {
    position: relative;
}

blockquote ul li:before {
    content: '-';
    margin-right: 4px;
}

.mebelservice{
    display: flex;
    align-items: center;
}
.viberlogo{
    max-width: 22px;
}

.header {
    padding: 15px 0;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.logo{
    max-width: 45px;
    border: 5px solid #ffe100;
    border-radius: 50%;
    overflow: hidden;
    background: #ffe100;
    margin-right: 10px;
}

.phone .item {
    padding-left: 26px;
}

.phone .item.item-viber {
    padding-left: 0;
}

.tel-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    padding-left: 30px;
}

.tel-list li {
    position: relative;
}

.tel-list a {
    color: inherit;
    text-decoration: none;
}

.tel-list a:hover {
    text-decoration: underline;
}

/* banner */
.section-banner{
    padding: 80px 0;
    position: relative;
    background: url(images/osn1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);  
    z-index: 1;
}

.section-banner * {
    position: relative;
    z-index: 2;
}

.section-banner .container {
    width: 100%;
}

.section-banner .title{
    color: white;
    font-size: 55px;
    margin-top: 0;
}

.section-banner .spisok {
    color: white;
    max-width: 810px;
    font-size: 16px;
}

.section-banner .spisok .item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
}

.section-banner .item:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background: url(images/star.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
}

/* banner end */

mark{
    color: #ffe100;
    background: transparent;
}


/* banner end */


/* build */
.section-build{
    min-height: 505px;
    padding: 30px 0;
}

.section-build .title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 90px;
}

.section-build .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-build .box {
    width: 175px;
    height: 175px;
    border: 3px solid #ffe100;
    align-items: center;
    text-align: center;
    padding: 47px 15px 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 75px;
}

.section-build .text {
    font-size: 20px;
    font-weight: bold;
}

.section-build .icon {
    position: absolute;
    top: calc(-50% - 20px);
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100px;
    height: 100px;
    border: 5px solid #ffe100;
    border-radius: 50%;
    overflow: hidden;
    background: #ffe100;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* build end */

.section-slider {
    background: url(images/tablet_back_1.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    /* min-height: 555px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

.slider {
    margin: 0 -15px;
}

.slick-list {
    margin-bottom: 20px;
}

.slide {
    padding: 0 15px;
}

.slide .item{
    z-index: 5;
    border: 20px solid white;
    margin-bottom: 5px;
}

.slide .slide-title {
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.slide .slide-title:before {
    content: '';
    height: 3px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    background: #ffe100;
    margin-right: 10px;
}

.slick-arrow {
    display: none !important;
}

.slick-dots{
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slick-dots li + li {
    padding-left: 10px;
}

.slick-dots button {
    border: 1px solid #fff;
    background: transparent;
    text-indent: -99999px;
    border-radius: 50%;
    font-style: 0;
    height: 16px;
    width: 16px;
    padding: 0;
    position: relative;
}

.slick-dots .slick-active button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffe100;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.section-blockquote {
    padding: 30px 0;
}

.section-blockquote .design{
    min-height: 440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.zagosn2{
    width: 425px;
    height: 110px;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer{
    padding: 80px 0 0;
    width: 100%;
    background-color: #303030;
}

.footer .footer-list a {
    color: inherit;
    text-decoration: none;
}

.footer .footer-list a:hover {
    text-decoration: underline;
}

.footer-list{
    width: 300px;
}

.rem{
    color: #fff;
    margin-top: 0;
    padding-bottom: 15px;
    font-weight: normal;
    position: relative;
    margin-bottom: 30px;
}

.rem::after{
    content: "";
    position: absolute;
    width: 50px;
    top: 100%;
    left: 0;
    height: 3px;
    background-color: #ffe100;
}

.copyright {
    text-align: center;
    padding: 20px 0;
    background-color: black;
}

.ftr{
    color: gray;
    font-size: 16px;
}

.glav{
    display: flex;
    justify-content: center;
    width: 510px;
    height: 35px;
}

.pointcontacts{
    min-height: 600px;
}

.zaw{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.text{
    font-size: 30px;
}



.points{
    width: 100%;
    color: #7c7c7c;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 60px;
}

.str{
    padding: 0 0 30px 30px;
    position: relative;
}
.str::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(images/tick.png);
    background-size: cover;
    background-position: center;
}

.ctc{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    color: white;
    font-size: 20px;
}

.ctc a {
    color: inherit;
    text-decoration: none;
}

.tell{
    position: relative;
    display: inline-block;
    /* border-right: 2px solid #7c7c7c; */
}

.tell .name {
    font-size: 14px;
    opacity: .7;
    order: 2
}
.tell.tel-viber {
    display: flex;
    align-items: center;
}

.tel-viber .viberlogo {
    order: 1;
    margin: 0 4px;
}

.tel-viber a {
    order: 0;
}

@media (min-width: 480px) {

    .footer-list {
        width: 50%;
    }
}

@media (min-width: 768px){
    
    blockquote .title {
        text-align: left;
        flex-direction: row;
    }
    
    blockquote .title:before {
        line-height: 0; 
    }
    .tel-list {
        flex-direction: row;
        padding-left: 0;
    }

    .tel-list li + li:before  {
        content: '|';
        margin: 0 10px 0 14px;
    }

    /* banner */
    .section-banner{
        min-height: 640px;
    }

    .section-banner .title{

    }

    .section-banner .spisok {
        font-size: 30px;
    }

    .section-banner .spisok .item {
        padding-left: 35px;
        margin-bottom: 30px;
    }

    .section-banner .item:before {
        height: 25px;
        width: 25px;
    }
    /* banner end */

    /* build */

    .section-build{
        min-height: 505px;
        padding: 30px 0;
    }
    
    .section-build .title{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        margin-bottom: 90px;
    }
    
    .section-build .wrap{
        justify-content: space-between;
    }
    
    .section-build .box {
        width: 175px;
        height: 175px;
    }
    
    .section-build .text {

    }
    
    .section-build .icon {

    }

    /* build end */

}

@media (min-width: 1024px) {
    .footer-list.footer-contact {
        width: 100%;
    }
    .contact {
        font-size: 25px;
    }

    .tell + .tell:before {
        content: '|';
        position: relative;
        margin: 0 10px;
        color: #7c7c7c;
        font-size: 24px;
    }

    .tell.tel-viber {
        display: block;
    }

    .tel-viber .viberlogo {
        margin: 0 4px 0 0;
    }
}